# macOS
.DS_Store

# Xcode user-specific
xcuserdata/
*.xcuserstate
*.xcuserdatad

# Xcode build output
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods / Carthage (未使用だが将来用)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# その他
*.log
